{% extends 'index.html' %}
{% block content %}
{% load static %}
<h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; background-color: #b9d3ef; padding: 10px; border-radius: 8px;">About Us</h2>
<p style="text-indent: 15px; text-align: justify;">
  TixSpot hadir sebagai solusi bagi pecinta musik dan hiburan yang ingin merasakan pengalaman terbaik dalam menghadiri konser dan acara favorit mereka. Kami percaya bahwa setiap momen berharga dimulai dari awal yang sempurna, dan dengan TixSpot, perjalanan Anda menuju momen tak terlupakan dimulai dengan mudah dan tanpa hambatan.
</p>
<p style="text-indent: 15px; text-align: justify;">
  Sebagai platform pemesanan tiket konser terkemuka, TixSpot menyediakan akses mudah dan cepat ke berbagai acara musik, mulai dari konser artis lokal hingga pertunjukan internasional yang mendunia. Dengan antarmuka yang intuitif dan fitur canggih, kami memastikan pengguna dapat menemukan dan memesan tiket secara aman dan nyaman.
</p>
<p style="text-align: justify;">
  <strong>Visi</strong> <br>
  Menjadi platform utama bagi penggemar musik dan hiburan untuk terhubung dengan acara yang mereka sukai, menciptakan kenangan indah melalui pengalaman yang menyenangkan dan tanpa hambatan. <br>
  <strong>Misi</strong> <br>
  <ul>
    <li>Membantu pengguna menemukan dan memesan tiket konser dengan mudah.</li>
    <li>Menyediakan akses yang adil dan transparan untuk semua acara.</li>
    <li>Memberikan layanan pelanggan yang cepat, responsif, dan ramah.</li>
  </ul>
</p>
{% endblock %}