{% extends 'index.html' %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
            <div class="card" style="width: 18rem;">
                <img src="../static/img/event1.svg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">
                    Are you ready to Concert the night away?!
                  </p>
                </div>
            </div>
		</div>
		<div class="col-md-6">
            <div class="card" style="width: 18rem;">
                <img src="../static/img/event2.svg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">
                    Bersiaplah untuk dibawa ke dalam alunan lagu-lagu penuh cerita dari Hindia!
                  </p>
                </div>
            </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
            <div class="card" style="width: 18rem;">
    <img src="../static/img/event3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">
        Semua hati yang terluka, malam ini kita sembuhkan dengan lirik-lirik Bernadya
      </p>
    </div>
</div>
		</div>
		<div class="col-md-6">
            <div class="card" style="width: 18rem;">
    <img src="../static/img/event4.svg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">
        Malam ini kita bernyanyi, kita berbagi cerita, dan kita menemukan kebahagiaan bersama Tulus
      </p>
    </div>
</div>
		</div>
	</div>
</div>

{% endblock %}