{% extends 'index.html' %}
{% block content %}
{% load static %}
<h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; background-color: #b9d3ef; padding: 10px; border-radius: 8px; text-align: center;">About Us</h2>
<div class="row pb-3 m-1">
    <div class="col-md-6 border rounded">
        <p style="text-indent: 15px; text-align: justify;">
            TixSpot hadir sebagai solusi bagi pecinta musik dan hiburan yang ingin merasakan pengalaman terbaik dalam menghadiri konser dan acara favorit mereka. Kami percaya bahwa setiap momen berharga dimulai dari awal yang sempurna, dan dengan TixSpot, perjalanan Anda menuju momen tak terlupakan dimulai dengan mudah dan tanpa hambatan.
        </p>
        <p style="text-indent: 15px; text-align: justify;">
            Sebagai platform pemesanan tiket konser terkemuka, TixSpot menyediakan akses mudah dan cepat ke berbagai acara musik, mulai dari konser artis lokal hingga pertunjukan internasional yang mendunia. Dengan antarmuka yang intuitif dan fitur canggih, kami memastikan pengguna dapat menemukan dan memesan tiket secara aman dan nyaman.
        </p>
    </div>
    <div class="col-md-6 border rounded">
        <p style="text-align: justify;">
            <strong>Visi</strong> <br>
            Menjadi platform utama bagi penggemar musik dan hiburan untuk terhubung dengan acara yang mereka sukai, menciptakan kenangan indah melalui pengalaman yang menyenangkan dan tanpa hambatan. <br>
            <strong>Misi</strong> <br>
            <ul>
              <li>Membantu pengguna menemukan dan memesan tiket konser dengan mudah.</li>
              <li>Menyediakan akses yang adil dan transparan untuk semua acara.</li>
              <li>Memberikan layanan pelanggan yang cepat, responsif, dan ramah.</li>
            </ul>
        </p>
    </div>
</div>
<h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; background-color: #b9d3ef; padding: 10px; border-radius: 8px; text-align: center;">Top Event</h2>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 pb-3">
			<div class="row">
				<div class="col-md-6">
          <div class="row g-0 border rounded">
              <div class="col-md-4">
                <img src="../static/img/event1.svg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8 d-flex align-items-center">
                <div class="card-body text-center">
                  <h5 class="card-title">Konser Musik - Stadion Pakansari</h5>
                </div>
              </div>
            </div>
				</div>
				<div class="col-md-6">
          <div class="row g-0 border rounded">
              <div class="col-md-4">
                <img src="../static/img/event4.svg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8 d-flex align-items-center">
                <div class="card-body text-center">
                  <h5 class="card-title">Awal Tahun Bersama Tulus</h5>
                </div>
              </div>
          </div>
			  </div>
		  </div>
	  </div>
  </div>
</div>
<h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; background-color: #b9d3ef; padding: 10px;border-radius: 8px; text-align: center;">Event</h2>
<div class="container-fluid">
	<div class="row pb-3">
		<div class="col-md-3">
      <div class="card" style="width: 18rem;">
          <img src="../static/img/event1.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">
              <br>Are you ready to Concert the night away?!
            </p>
          </div>
      </div>
		</div>
		<div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="../static/img/event2.svg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">
                Bersiaplah untuk dibawa ke dalam alunan lagu-lagu penuh cerita dari Hindia!
              </p>
            </div>
        </div>
		</div>
		<div class="col-md-3">
      <div class="card" style="width: 18rem;">
        <img src="../static/img/event3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">
                Semua hati yang terluka, malam ini kita sembuhkan dengan lirik-lirik Bernadya
            </p>
        </div>
      </div>
	</div>
		<div class="col-md-3">
      <div class="card" style="width: 18rem;">
        <img src="../static/img/event4.svg" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">
                Malam ini kita bernyanyi, kita berbagi cerita, dan kita menemukan kebahagiaan bersama Tulus
            </p>
        </div>
      </div>
	  </div>
	</div>
</div>
<div class="container-fluid">
  <div class="row justify-content-center pb-3">
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/Q-FaATfcWac?si=qe-OFRvmO9xaXDAp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/5GXkWPcvHr0?si=fBaYt4YP88iO5frH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  </div>
</div>
<h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; background-color: #b9d3ef; padding: 10px; border-radius: 8px; text-align: center;">Login</h2>
<div class="container px-5 my-5">
    <form id="contactForm" data-sb-form-api-token="API_TOKEN">
        <div class="form-floating mb-3">
            <input class="form-control" id="nama" type="text" placeholder="Nama" data-sb-validations="required" />
            <label for="nama">Nama</label>
            <div class="invalid-feedback" data-sb-feedback="nama:required">Nama is required.</div>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" id="emailAddress" type="email" placeholder="Email Address" data-sb-validations="required,email" />
            <label for="emailAddress">Email Address</label>
            <div class="invalid-feedback" data-sb-feedback="emailAddress:required">Email Address is required.</div>
            <div class="invalid-feedback" data-sb-feedback="emailAddress:email">Email Address Email is not valid.</div>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" id="password" type="text" placeholder="Password" data-sb-validations="required" />
            <label for="password">Password</label>
            <div class="invalid-feedback" data-sb-feedback="password:required">Password is required.</div>
        </div>
        <div class="d-none" id="submitSuccessMessage">
            <div class="text-center mb-3">
                <div class="fw-bolder">Form submission successful!</div>
                <p>To activate this form, sign up at</p>
                <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
            </div>
        </div>
        <div class="d-none" id="submitErrorMessage">
            <div class="text-center text-danger mb-3">Error sending message!</div>
        </div>
        <div class="d-grid">
            <button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Login</button>
        </div>
    </form>
</div>
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

{% endblock %}