<style>
  .bs-blue-light {
    background-color: #b9d3ef;
  }
  .btn-orange {
      background-color: #378fdd;
      border-color: #378fdd;
      color: white;
    }
    .btn-orange:hover {
      background-color: #1e7cb3;
      border-color: #1e7cb3;
    }
</style>
<nav class="navbar navbar-expand-lg bs-blue-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="../static/img/logo_webDDP.svg" alt="" style="width: 100px;"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
          </li><li class="nav-item">
            <a class="nav-link" href="{% url 'event' %}">Event</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'app' %}">Purchase</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-orange" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>