<div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
        Top #1
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
      <div class="accordion-body">
        <img src="" alt="">
        <h2>Bernadya</h2>
        <p><strong>Profile</strong> <br>Nama Lengkap: Bernadya Rosinta <br>
          Nama Panggung: Bernadya <br>
          Tempat, Tanggal Lahir: Jakarta, Indonesia, 5 September 2001 <br>
          Profesi: Penyanyi, Penulis Lagu <br>
          Genre Musik: Pop, Indie Pop <br>
          Label Rekaman: Independen <br> <br>
          <strong>Single Populer: <br></strong>
          "Hilang Tanpa Kata" (2020) <br>
          "Rindu di Hati" (2021) <br>
          "Cahaya Senja" (2022) <br>
          "Percakapan Hati" (2023) <br><br>
          <strong>Album: <br></strong>
          Langkah Awal (2023) <br>
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        Top #2
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
      <div class="accordion-body">
        <img src="" alt="">
        <h2>Tulus</h2>
        <p><strong>Profile</strong> <br>
        Nama Lengkap: Muhammad Tulus Rusydi <br>
        Nama Panggung: Tulus <br>
        Tempat, Tanggal Lahir: Bukittinggi, Sumatera Barat, 20 Agustus 1987 <br>
        Profesi: Penyanyi, Penulis Lagu <br>
        Genre Musik: Pop, Jazz, Soul <br>
        Tahun Aktif: 2011 - sekarang <br>
        Label Rekaman: TulusCompany <br><br>
        
        <strong>Album: <br></strong>
        Tulus (2011) <br>
        Gajah (2014) <br>
        Monokrom (2016) <br>
        Manusia (2022) <br><br>
        <strong>Single Populer:</strong><br>
        "Sepatu" <br>
        "Teman Hidup" <br>
        "Gajah" <br>
        "Monokrom" <br>
        "Hati-Hati di Jalan" <br>
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
        Top #3
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
      <div class="accordion-body">
        <img src="" alt="">
        <h2>Hindia</h2>
        <p><strong>Profile</strong> <br>
          Nama Lengkap: Baskara Putra <br>
          Nama Panggung: Hindia <br>
          Tempat, Tanggal Lahir: Jakarta, Indonesia, 22 Februari 1994 <br>
          Profesi: Penyanyi, Penulis Lagu, Produser Musik <br>
          Grup Musik: Vokalis utama band .Feast <br>
          Genre Musik: Indie Pop, Alternatif, Folk <br>
          Tahun Aktif: 2014 - sekarang <br><br>

          <strong>Single Populer:</strong><br>
          "Secukupnya" <br>
          "Evaluasi" <br>
          "Rumah ke Rumah" <br>
          "Jam Makan Siang" <br>
          "Membasuh" (feat. Rara Sekar) <br>
          </p>
      </div>
    </div>
  </div>
</div>